<!DOCTYPE html>
<!-- GIT LEADER COMMENT TO CHECK IF GIT PERMISSIONS ARE OK -->
<!-- The following HTML page is a template to the "Deacde" design of our web-development project"-->
<!-- PLEASE REMEMBER THAT THE FOLLOWING HTML TEMPLATE COVERS THE PERIOD OF 1980'S OF THE TURING AWARD-->
<html lang="en" dir="ltr">
   <head>
      <base href="../../../"/>
      <meta name="author" content="name surname"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> TURING AWARDS 1980's</title>
      <!--Please do not forget to link YOUT HTML to CSS page-->
      <link rel="stylesheet" href="css/decade.css">
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <!--________________________________________________________________________________________________________-->
   <!--Page begins-->
   <body>
      <!--Starting from here, leave/copy the following section toyour HTML file AND change the YEAR-->
      <section class="header">
         <nav>
            <!--<a href="homepage"><img src="images/decades/logo.png"></a>-->
         </nav>
         <!--_______________________________________________________________________________________________________-->
         <!-- Image in the backgrond-->
         <!---Please note that the image links are UNIQUE to this page-->
         <img src="images/decades/banner1.png"/>
         <div class="text-box">
            <h1> 1 9 8 0 </h1>
            <a href="html/timeline.html" class="button">  Return to the Timeline  </a>
         </div>
      </section>
      <!--Each DECADE page will include a short overview of achievements of the decade-->
      <!--________________________________________________________________________________________________________-->
      <section class="page">
         <Section class="overview">
            <h1>
            Decade Overview
            <h1>
            <p>testt</p>
         </section>
         <!--________________________________________________________________________________________________________-->
         <!---AWARD WINNERS--->
         <!---Please note that the image links are UNIQUE to this page-->
         <!---Each banner follows the same sturcture: IMAGE->COVER->NAME+TEXT--->
         <section class="years d-flex flex-column align-items-center">
            <h1> AWARDS </h1>
            <p></p>
            <div class="years-row w-75 mt-4">
            <div class="years-k">
               <a href="#">
                  <img src="images/decades/1980/1980.png">
                  <div class="cover">
                     <div>
                        <h3>
                           Hoare C. Antony R.
                        </h3>
                        <h3>
                           1960
                        </h3>
                     </div>
                  </div>
               </a>
            </div>
            <div class="years-k">
               <a href="#">
                  <img src="images/decades/1980/1981.png">
                  <div class="cover">
                     <div>
                        <h3>Codd Edgar F.</h3>
                        <h3>1961</h3>
                     </div>
                  </div>
               </a>
            </div>
            <div class="years-k">
               <a href="#">
                  <img src="images/decades/1980/1982.png">
                  <div class="cover">
                     <div>
                     <h3>Cook Stephen A</h3>
                        <h3>1962</h3>
                  </div>
                  </div>
               </a>
            </div>
         </section>
         <!---Footer--->
         <address class="footer">
            <h4>In memory of A.M. Turing</h4>
            <p> Page made by: Name Surname
            </p>
         </section>
      </address>
   </body>
</html>
