:root { /* <-- Change colors here */
  /* Color Pairs for dark and light mode */
  --color-accent: #db821d;
  --color-secondary: #d69851;
  --color-text: #e7e7e7;
  --color-bg: #e0e0d5;
  --filter-invert: 0%;

  --color-text-light: #f0e9e9; /* color text for the text always on a dark background (e.g. decade page) */
}

/* Color classes */

/*

Classes used by the old dark/light mode switcher

.clr-light {
    color: var(--color-text-light);
}

.clr-dark {
    color: var(--color-text-dark);
} */ 

.clr-accent {
    color: var(--color-accent);
}

.clr-text {
    fill: var(--color-accent);
}
