:root { /* <-- Change colors here */
    --color-accent: #ee6c4d;
    --color-secondary: #98c1d9;
    --color-text: #e0fbfc;
    --color-bg: #293241;
    --color-light: #3d5a80;
}

/* Color classes */
.clr-light {
    color: var(--color-text);
}

.clr-accent {
    color: var(--color-accent);
}

.clr-text {
    fill: var(--color-accent);
}