
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
/*---------------------------------------------------------------*/
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: right;
    filter: brightness(70%);
}
nav img{
     width: 140px;
}
.nav-links{
  flex: 1;
  text-align: right;
}

/*---------------------------------------------------------------*/

.text-box{
        width: 90%;
        color: #ffe7b6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
}
.text-box h1{
        font-size: 60px;
        filter: brightness(85%);

}
/*---------------------------------------------------------------*/
.btn{
         display: inline-block;
         text-decoration: none;
         color: #ffe7b6;
         border: 1px solid #ffe7b6;
         padding: 12px 34px;
         font-size: 13px;
         background: transparent;
         position: relative;
         cursor: pointer;
}

.btn:hover {
        border: 1px solid #f44336;
        background: #f0571d;
        transition: 2s;
}



/*---------------------------------------------------------------*/
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
          list-style: none;
          display: inline-block;
          padding: 20px 32px;
          position: relative;
}
.nav-links ul li a{
          color: #ffe7b6;
          text-decoration: none;
          font-size: 25px;
}
.nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: #f0571d;
        display: block;
        margin: auto;
        transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

/*---------------------------------------------------------------*/
p{
  font-size: 20px;
  text-align: right;
  font-weight: 200;
  color:#ffe7b6;

}
.quote--container {
    margin: 25px auto 0;
    padding-bottom: 100px;
    padding-right: 30px;
    position: relative;
    font-style: italic;
    filter:brightness(60%);
}

.quote--highlight {
    color: #f0571d;
}


/*---------------------------------------------------------------*/
#timelines .timelines {
	flex-direction: column;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	padding: 0px 0px;
	background-color: #ffe7b6;
}
}
#timelines .all-timelines {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#timelines .timeline-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 400px;
	margin: 0px auto;
	overflow: hidden;
}
#timelines .timeline-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
  background-image: linear-gradient(to left,
     #000000, #0a0507, #110910, #140e17, #15131d, #15131d,
     #15131d, #15131d, #140e17, #110910, #0a0507, #000000);
	color: white;
}


#timelines .timeline-info h1 {
	font-size: 4rem;
	font-weight: 600;
	color: #f0571d;
  text-align: :right;
  filter: brightness(85%);
}

#timelines .timeline-info h1:hover {
	color: #ffe7b6;
}
#timelines .timeline-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#timelines .timeline-info p {
	color: #ffe7b6;
	text-align: left;
}

#timelines .timeline-vid {
  flex-basis: 50%;
	transform: translate( 0px, -100px);
	height: 170%;
	width: 110%;
	overflow: hidden;
	position: relative;
	filter: brightness(50%);

}

#timelines .timeline-item:nth-child(even) {
	flex-direction: row-reverse;
}
/*---------------------------------------------------------------*/
.footer {
	padding: 30px;
 background-image: linear-gradient(to left,
     #000000, #0a0507, #110910, #140e17, #15131d, #15131d,
     #15131d, #15131d, #140e17, #110910, #0a0507, #000000);
	color: white;
	color: white;
}
	.footer {
      width: 50%;
      position: relative;
      overflow: hidden;
    }

    .footer {
      width: 100%;
      text-align: center;
      padding: 32px 0;

    }

    .footer h4 {
      font-size: 25px;
      float:left;
      font-weight: 400;
      padding-left:20px;
      filter:brightness(60%);
      color: #ffe7b6;
    }
  .footer p{
      float:right;
      font-size: 25px;
      padding-right:20px;
      filter:brightness(60%);
      color: #ffe7b6;
    }
